{% extends 'default.html' %}

{% block conteudo %}
<link rel="stylesheet" href="../static/styles/home.css">

<div class="container mt-5 pt-5">
    <section class="jumbotron text-center">
        <h1 class="display-4">Esconda Segredos em Suas Imagens com Pixel Lock</h1>
        <p class="lead">Criptografe mensagens dentro de suas fotos de forma imperceptível.</p>
        <hr class="my-4">
        <p>Pixel Lock utiliza a técnica de esteganografia para ocultar textos dentro de arquivos de imagem. Envie sua imagem, digite sua mensagem e salve o arquivo criptografado. Somente com o Pixel Lock será possível descriptografá-lo.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg pixellock-btn" href="#" role="button">Experimente Agora</a>
        </p>
    </section>

    <section class="row mt-5">
        <div class="col-md-6">
            <h2>Como Funciona?</h2>
            <ul>
                <li><strong>Upload da Imagem:</strong> Selecione a imagem que você deseja usar.</li>
                <li><strong>Digite sua Mensagem:</strong> Insira o texto secreto que você quer esconder.</li>
                <li><strong>Criptografia:</strong> O Pixel Lock irá incorporar sua mensagem na imagem de forma segura.</li>
                <li><strong>Download:</strong> Baixe a imagem criptografada. Ela parecerá idêntica à original!</li>
                <li><strong>Descriptografia:</strong> Utilize o Pixel Lock para extrair mensagens de imagens criptografadas.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Segurança e Privacidade</h2>
            <p>Sua privacidade é nossa prioridade. As mensagens são criptografadas e ficam ocultas dentro da imagem. Apenas quem tiver acesso ao Pixel Lock poderá revelar o conteúdo secreto.</p>
            <p>Compartilhe suas imagens de forma segura e discreta!</p>
        </div>
    </section>
</div>

<script src="../static/scripts/upload.js"></script>
{% endblock %}