{% extends 'default.html' %}

{% block conteudo %}
<link rel="stylesheet" href="../static/styles/home.css">

<div class="container mt-5 pt-5">
    <h1 class="display-4">Revelar mensagem oculta</h1>
    <form method="POST" enctype="multipart/form-data" class="mb-3" action="{{ url_for('processDecript') }}">
        <!-- Campo de upload de imagens -->
        <div class="mb-3">
            <label for="imageUpload" class="form-label">Upload de Imagem</label>
            <div id="dropzone" class="border border-primary rounded p-3 text-center" style="cursor:pointer;">
                Arraste sua imagem aqui ou clique para fazer upload
                <input required type="file" class="form-control" id="imageUpload" name="imagem" accept=".png"
                    style="display:none;">
            </div>
        </div>

        <!-- Pré-visualização das imagens -->
        <div id="preview" class="d-flex flex-wrap gap-5 justify-content-center align-items-center mb-3"></div>

        <button type="submit" class="btn btn-primary submit">Revelar mensagem</button>
    </form>

    {% if mensagem %}
    <div class="alert alert-info" role="alert">
        <strong>Mensagem encontrada:</strong> {{ mensagem }}
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    {% endblock %}
</div>